@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Poppins|Raleway&display=swap');
p {
  font-family: 'Poppins', sans-serif;
  margin-left: 15px;
}
h1 {
  font-family: 'Merriweather', serif;
}
/* Use these for font families:
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
*/
#banner {
  background-image: url(https://images.pexels.com/photos/951882/pexels-photo-951882.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 25px;
  text-align: center;
  text-align-last: center;
}

body {margin-top: 41.4px; margin-left: 0px}

#nav {
  list-style-type: none;
  overflow:hidden;
  margin: 0;
  padding: 0;
  background-color: #354045;
  position: fixed;
  top: 0;
  width: 100%;
  bottom: 708px;
}

li {
   float: right;
}
li a {
  display: block;
  color: #ffffff;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #354045;
  font-family: 'Poppins', sans-serif;
}

/* Change the link color on hover */
li a:hover {
  background-color: #ffffff;
  color: #black;
  text-color: #000000;
}
.active {
  background-color: #2385c3;
}
